<div class= "main_box">
<h1>Welcome to Scrabble Score!</h1>
<form action="/scrabble">
  <div class="form-group">
    <h2>What word would you like to score?</h2>
    <input id="scrabble" name="scrabble" class="form-control" type="text">
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">Tally!</button>
</form>
</div>
