<!DOCTYPE html>
  <head>
     <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="/css/scrabble_score.css" />
   <div class="score_board">
  </head>
  <body>
  <h1>Your Score:</h1>
  <h2 class= "number"><%= @score %></h2>
 </div>
 </body>
<html>
